<button type="button" md-button (click)="sidenav.open()">
  click me !
  </button>

<!-- SideNav Design -->

<md-sidenav-container class="example-container">
  <md-sidenav mode="over" opened="true" #sidenav class="example-sidenav" style="background:white">
          <app-code (selectedStock)="SelectedStockHandler($event)"></app-code>
        

          <h4>{{name}} <br>{{sector}} </h4>
  </md-sidenav>

  <div fxLayout="row wrap" fxlayoutalign="stretch" fxLayoutWrap class="example-sidenav-content">
    
      <div fxFlex="50" ngClass="SampleDiv1">
                <app-barchart [symbol]="value"></app-barchart>
             
              
         
      </div>
      <div fxFlex="50" ngClass="SampleDiv2">
                
                <app-news [symbol]="value"></app-news>
         
      </div>
      <div fxFlex="50" ngClass="SampleDiv3">
              
               
                <app-data-table [symbol]="value"></app-data-table>
          
      </div>
      <div fxFlex="grow" ngClass="SampleDiv4">
          
           
           
      
  </div>
  </div>
</md-sidenav-container>