<!-- SideNav Design -->


<md-sidenav-container class="example-container">
  <md-sidenav mode="over" opened="true" #sidenav class="example-sidenav" style="background:grey">
          <app-code (selectedStock)="SelectedStockHandler($event)"></app-code>
               <h4>{{name}} <br>{{sector}} </h4>
               <button md-button (click)="sidenav.close()">
                close sidenav
              </button>
  </md-sidenav>
  <div *ngIf="isValid">
    <md-spinner ></md-spinner>
    
  </div>
  
  <div *ngIf="!isValid">
   <div fxLayout="row wrap" fxlayoutalign="stretch" fxLayoutWrap class="example-sidenav-content">
    
      <div fxFlex="50" ngClass="SampleDiv1">
          <md-tab-group>
          <md-tab *ngFor="let inter of chartInterval.reverse()" label="{{inter}}">
                <app-barchart [symbol]="value" [chartInterval]="inter"></app-barchart>  
         </md-tab>
         </md-tab-group>
      </div>
      <div fxFlex="50" ngClass="SampleDiv2">
                <app-news [symbol]="value"></app-news>
      </div>
      <div fxFlex="50" ngClass="SampleDiv3">
          <md-tab-group>
          <md-tab *ngFor="let inter of chartInterval.reverse()" label="{{inter}}">
                <app-data-table [symbol]="value"[chartInterval]="inter"></app-data-table>
              </md-tab>
              </md-tab-group>
      </div>
      <div fxFlex="50" ngClass="SampleDiv4">
          <app-summary [symbol]="value"></app-summary>
     </div>
  </div>
</div>
</md-sidenav-container>