

<!-- Header Design -->
<md-toolbar color='accent'>
  <button md-button routerLink="/dashboard" routerLinkActive="active" ><md-icon>home</md-icon>Home</button>
 <!-- <button md-button routerLink="/dashboard" routerLinkActive="active"><i class="material-icons">dashboard</i>Dashboard</button>-->
  <button md-button><i class="material-icons">show_chart</i>StockAnalysis</button>
  <button md-button><i class="material-icons">view_compact</i>StockByCategory</button>
  <button md-button><i class="material-icons">credit_card</i>Credits</button>

  <nav>
  <button md-button routerLink="/glossary" routerLinkActive="active"><i class="material-icons">library_books</i>Glossary</button>
</nav>


  <span class="example-fill-remaining-space"></span>
</md-toolbar>
<router-outlet></router-outlet>






<!-- Footer Design -->
<md-toolbar color="accent" class="bottom">
    <i class="material-icons">copyright</i>
     <span style="font-size: 10px" >copyrights</span>
</md-toolbar>


