.md-button {
    min-width: 10em;
    font-weight: 500;
  }
  
  
  .example-container {
    width: 1500px;
    height: 600px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }


  .mat-toolbar.mat-accent {
    background:Teal;
    color: #0F0606;
  }

.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

.SampleDiv1{ 
  background-color:#00E676; 
  height:50%;
  }

.SampleDiv2{ 
  background-color:#1DE9B6; 
   height:50%;
  }


.SampleDiv3{ 

   height:50%;
  }