<!-- Autocomplete -->
<form class="example-form">
    <md-form-field class="example-full-width">
     
        
        <input mdInput [(ngModel)]="SelStock" placeholder="Go for your stock" [mdAutocomplete]="auto" [formControl]="stateCtrl">
      
        <md-autocomplete  #auto="mdAutocomplete" [displayWith]="displayFn">
          <md-option  (onSelectionChange)="selected($event, Symb)" *ngFor="let Symb of filteredSymbol | async" [value]="Symb">
            {{ Symb.Symbol }}{{Symb.Name}}
          </md-option>
        </md-autocomplete>

      

    </md-form-field>
    
  </form>

  <!-- Go Button -->
  <!--
  <div> <button md-fab color="primary"(click)=searchStock()>Go</button></div>


<h5>Company Name:{{companyName}}</h5>
<h5>LatestPrice:{{latestPrice}}</h5>
<h5>Sector:{{sector}}</h5>
<h5>Primary Exchange:{{primaryExchange}}</h5>

  -->
<!--Property Binding -->
<!--
<app-news [symbol]="symbol"></app-news>
<app-barchart [symbol]="symbol"></app-barchart>
<app-data-table [symbol]="symbol"></app-data-table>

-->